// *****************************************************
// Colors
.nao-bg-gray-card {
  background-color: var(--card-config-gray-color);
}

.nao-text-muted {
  color: var(--text-muted);
}
.text-heading {
  color: var(--text-heading);
}