// *****************************************************
// Colors
.nao-bg-gray-card {
  background-color: var(--card-config-gray-color);
}

.nao-text-muted {
  color: var(--text-muted);
}
.text-heading {
  color: var(--text-heading);
}

// *****************************************************
// Hover Effects
.nao-hover-bg-view:hover {
  background-color: var(--primary-color-light-10);
}

.nao-action-btn:hover {
  background: var(--gray-lightest);
}