// *****************************************************
// Object Contain
.object-contain {
  object-fit: contain;
}

// *****************************************************
// Position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// *****************************************************
// Cursor
.pointer {
  cursor: pointer;
}

// *****************************************************
// Inline Block
.inline-block {
  display: inline-block;
}

// *****************************************************
// List Style None
.list-style-none {
  list-style: none;
}

// *****************************************************
// Z-Index
.z-top {
  z-index: 999;
}
// *****************************************************
// Line height
.line-height-1 {
  line-height: 1
}
