// *****************************************************
// Object Contain
.object-contain {
  object-fit: contain;
}

// *****************************************************
// Position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// *****************************************************
// Cursor
.pointer {
  cursor: pointer;
}
.grab {
  cursor: grab;
}

// *****************************************************
// User Select
.no-select {
  user-select: none;
}

// *****************************************************
// User Select
.letter-spacing-03 {
  letter-spacing: 0.3px;
}

// *****************************************************
// Inline Block
.inline-block {
  display: inline-block;
}

// *****************************************************
// List Style None
.list-style-none {
  list-style: none;
}

// *****************************************************
// Z-Index
.z-top {
  z-index: 999;
}
