// *****************************************************
// Radius
.radius-4{
  border-radius: 4px
}
.radius-5{
  border-radius: 5px
}
.radius-7{
  border-radius: 7px;
}
.radius-8{
  border-radius: 8px;
}
.radius-12{
  border-radius: 12px;
}