// *****************************************************
// 100% Width / Height
.nao-w-100 {
  width: 100%;
}
.nao-h-100 {
  height: 100%;
}
// *****************************************************
// Small Widths
.nao-w-4    { width: 4px; }
.nao-w-6    { width: 6px; }
.nao-w-8    { width: 8px; }
.nao-w-10   { width: 10px; }
.nao-w-12   { width: 12px; }
.nao-w-13   { width: 13px; }
.nao-w-14   { width: 14px; }
.nao-w-16   { width: 16px; }
.nao-w-20   { width: 20px; }
.nao-w-24   { width: 24px; }
.nao-w-26   { width: 24px; }
.nao-w-28   { width: 28px; }

// *****************************************************
// Small Heights
.nao-h-4    { height: 4px; }
.nao-h-6    { height: 6px; }
.nao-h-8    { height: 8px; }
.nao-h-10   { height: 10px; }
.nao-h-12   { height: 12px; }
.nao-h-13   { height: 13px; }
.nao-h-14   { height: 14px; }
.nao-h-16   { height: 16px; }
.nao-h-20   { height: 20px; }
.nao-h-24   { height: 24px; }
.nao-h-26   { height: 26px; }
.nao-h-28   { height: 28px; }