@import '../mixins';

// *****************************************************
// Font Sizes
.text-xs {
  font-size: pixelToRem(12);
}
.text-sm {
  font-size: pixelToRem(13);
}
.text-md {
  font-size: pixelToRem(14);
}
.text-lg {
  font-size: pixelToRem(16);
}
.text-xl {
  font-size: pixelToRem(24);
}


// *****************************************************
// Font Weights
.font-heavy {
  font-weight: 600;
}
.font-medium {
  font-weight: 500;
}
.font-regular {
  font-weight: 400;
}

// *****************************************************
// Line heights
.line-height-1 {
  line-height: 1
}
.line-height-8 {
  line-height: 8px;
}
.line-height-16 {
  line-height: 16px;
}
.line-height-20 {
  line-height: 20px;
}
.line-height-24 {
  line-height: 24px;
}
.line-height-34 {
  line-height: 34px;
}