// *****************************************************
// Draggable Mirror
.draggable-mirror.is-card .task-rotate {
  transform: rotate(5deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  opacity: 1;
}

.draggable-mirror.is-column .swimlane-rotate {
  transform: rotate(5deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  opacity: 1;
}

// *****************************************************
// Draggable Source
.draggable-source--is-dragging .task-rotate {
  background-color: var(--draggable-background-color);
  border: 1px solid var(--draggable-border);;
  box-shadow: 0 2.5px 3px -1.5px #C8CFE9,
  0 4.5px 5px -1px rgba(216, 220, 235, 0.5);

  border-radius: 4px;

  *{
    visibility: hidden;
  }
}

// *****************************************************
// Draggable Source Is Dragging
.draggable-source--is-dragging .swimlane-rotate {
  background-color: var(--draggable-border);;
  border: 1px solid var(--draggable-border);
  border-radius: 8px;

  *{
    visibility: hidden;
  }
}