<div class="flex space-between align-start wrap">
    <div class="flex align-center nao-gap-10 nao-mb-5">
        <h1 class="text-xl line-height-xl font-heavy text-heading m-0">Invoices</h1>
        <div class="board-header__divider"></div>
        <span class="default-text">14,242 items</span>
    </div>

    <div class="flex space-between align-start w-100">
        <div class="flex nao-gap-8 nao-pb-2 nao-pt-7px">
            <button class="nao-btn nao-view-btns nao-gap-6 font-regular radius-md nao-hover-bg-view nao-px-2 nao-py-6px">
                <img src="/assets/table.svg" alt="Table" class="nao-w-12 nao-h-12"/>
                Table
            </button>
            <button class="nao-btn view-btn--active nao-gap-6 font-regular nao-view-btns radius-md nao-hover-bg-view nao-pt-1 nao-px-2 nao-pb-1-5">
                <img src="/assets/board.svg" alt="Board" class="nao-w-12 nao-h-12"/>
                Board
            </button>
            <button class="nao-btn nao-view-btns nao-gap-6 font-regular radius-md nao-hover-bg-view nao-pt-1 nao-px-2 nao-pb-1-5">
                <img src="/assets/calendar.svg" alt="Calendar" class="nao-w-12 nao-h-13"/>
                Calendar
            </button>
            <button class="nao-btn nao-view-btns nao-gap-6 font-regular radius-md nao-hover-bg-view nao-pt-1 nao-px-2 nao-pb-1-5">
                <img src="/assets/timeline.svg" alt="Timeline" class="nao-w-12 nao-h-14"/>
                Timeline
            </button>
        </div>

        <div class="flex nao-gap-8">
            <button class="nao-btn nao-btn-outline nao-gap-6 radius-lg font-medium nao-action-btn nao-px-2 nao-py-9px">
                <img src="/assets/export.svg" alt="Export" class="nao-h-14 nao-w-14" />
                Export
            </button>
            <button class="nao-btn nao-btn-outline nao-gap-6 radius-lg font-medium nao-action-btn nao-px-2 nao-py-9px">
                <img src="/assets/report.svg" alt="Report" class="nao-h-14 nao-w-14" />
                Save as report
            </button>
            <button class="nao-btn nao-btn-outline nao-gap-6 radius-lg font-medium nao-action-btn nao-px-2 nao-py-9px">
                <img src="/assets/settings.svg" alt="Settings" class="nao-h-14 nao-w-14" />
                Settings
            </button>
        </div>
    </div>
</div>
