<div class="board-header">
    <div class="board-header__title-wrapper">
        <h1 class="board-header__title">Invoices</h1>
        <div class="board-header__divider"></div>
        <span class="default-text">14,242 items</span>
    </div>
    <div class="board-header__bottom">
        <div class="board-header__left">
            <div class="board-header__views">
                <button>
                    <img src="assets/Group.svg" alt="Table"/>
                    Table
                </button>
                <button class="view-btn--active">
                    <img src="assets/board.svg" alt="Board"/>
                    Boards
                </button>
                <button>
                    <img src="assets/calendar.svg" alt="Calendar"/>
                    Calendar
                </button>
                <button>
                    <img src="assets/timeline.svg" alt="Timeline"/>
                    Timeline
                </button>
            </div>
        </div>

        <div class="board-header__right">
            <button>
                <img src="assets/export.svg" alt="Export"/>
                Export
            </button>
            <button>
                <img src="assets/report.svg" alt="Report"/>
                Save as report
            </button>
            <button>
                <img src="assets/settings.svg" alt="Settings"/>
                Settings
            </button>
        </div>
    </div>
</div>
