// *****************************************************
// Board Header
.board-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .board-header__title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    .board-header__title {
      font-family: 'Circular Std', sans-serif;
      font-size: 24px;
      line-height: 34px;
      font-weight: 500;
      color: var(--text-heading);
      margin: 0;
    }

    .board-header__divider {
      width: 1px;
      height: 17px;
      background-color: var(--text-heading);
      border-radius: 999px;
    }
  }

  .board-header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    .board-header__left {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      flex-wrap: wrap;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  .board-header__views {
    display: flex;
    gap: 8px;

    // *****************************************************
    // View Buttons
    button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 8px 5px;
      border-radius: 5px;
      background: var(--view-btn-bg);
      border: none;
      cursor: pointer;
      transition: background 0.2s ease;
      box-shadow: 0 4px 8px rgba(216, 220, 235, 0.5),
      0 2px 4px rgba(200, 207, 233, 0.3);
      font-family: var(--font-view-btn), sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: var(--text-muted);

      img {
        width: 14px;
        height: 13px;
      }
      &:hover {
        background: var(--view-btn-bg-hover);
      }
    }

    .view-btn--active {
      background: var(--view-btn-bg-hover);
      color: var(--primary-color);
    }

  }

  // *****************************************************
  // Action Buttons
  .board-header__right {
    display: flex;
    gap: 8px;

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      border: none;
      background: var(--white);
      border-radius: 7px;
      cursor: pointer;
      box-shadow: 0 1px 3px 0 var(--gray-border);
      font-weight: 500;
      font-size: 13px;
      font-family: 'Circular Std', sans-serif;
      padding: 8px;

      img {
        width: 14px;
        height: 14px;
      }

      &:hover {
        background: var(--gray-lightest);
      }
    }
  }
}