<div ngbDropdown #dropdown="ngbDropdown" class="dropdown-menu-container">
    <div ngbDropdownMenu class="dropdown-menu-custom radius-md nao-px-12" aria-labelledby="dropdownMenu">
        <button ngbDropdownItem class="nao-gap-6 nao-py-8 nao-px-12 text-md">
            <img src="assets/box_person.svg" alt="Edit" class="nao-w-16 nao-h-16"/>
            Edit
        </button>
        <button ngbDropdownItem class="nao-gap-6 nao-py-8 nao-px-12 text-md">
            <img src="assets/brush.svg" alt="Duplicate" class="nao-w-16 nao-h-16"/>
            Duplicate
        </button>

        <hr/>

        <button ngbDropdownItem class="nao-gap-6 nao-py-8 nao-px-12 text-md">
            <img src="assets/wallet.svg" alt="Copy ID" class="nao-w-16 nao-h-16"/>
            Copy ID
        </button>
        <button ngbDropdownItem class="nao-gap-6 nao-py-8 nao-px-12 text-md">
            <img src="assets/copy.svg" alt="Copy Link" class="nao-w-16 nao-h-16"/>
            Copy link
        </button>

        <hr/>

        <button ngbDropdownItem class="nao-gap-6 nao-py-8 nao-px-12 text-md">
            <img src="assets/delete.svg" alt="Delete" class="nao-w-16 nao-h-16"/>
            Delete
        </button>
    </div>
</div>
