<div ngbDropdown #dropdown="ngbDropdown" class="dropdown-menu-container">
    <div ngbDropdownMenu class="dropdown-menu-custom" aria-labelledby="dropdownMenu">
        <button ngbDropdownItem>
            <img src="assets/box_person.svg" alt="Edit"/>
            Edit
        </button>
        <button ngbDropdownItem>
            <img src="assets/brush.svg" alt="Duplicate"/>
            Duplicate
        </button>

        <hr/>

        <button ngbDropdownItem>
            <img src="assets/wallet.svg" alt="Copy ID"/>
            Copy ID
        </button>
        <button ngbDropdownItem>
            <img src="assets/copy.svg" alt="Copy Link"/>
            Copy link
        </button>

        <hr/>

        <button ngbDropdownItem class="danger">
            <img src="assets/delete.svg" alt="Delete"/>
            Delete
        </button>
    </div>
</div>
