<div ngbDropdown #dropdown="ngbDropdown" class="dropdown-menu-container nao-mt-5">
    <div ngbDropdownMenu class="dropdown-menu-custom radius-5 nao-px-12" aria-labelledby="dropdownMenu">
        <ng-container *ngFor="let item of items; let i = index">
            <button
                    ngbDropdownItem
                    class="nao-gap-6 nao-py-8 nao-px-12 text-14"
                    (click)="item.action?.()"
            >
                <img [src]="item.icon" [alt]="item.label" class="nao-w-16 nao-h-16" />
                <span>{{ item.label }}</span>
            </button>

            <hr *ngIf="(i + 1) % 2 === 0 && i + 1 < items.length" class="nao-my-1" />
        </ng-container>
    </div>
</div>
