<div class="group-form radius-md nao-p-2 nao-gap-16 flex flex-col">
    <label class="nao-ml-2 font-medium text-md text-heading">Group name</label>

    <input
            type="text"
            class="group-form__input nao-p-2 text-md text-heading radius-md"
            placeholder="Overdu..."
    />

    <div class="flex nao-gap-8 wrap">
        <div class="nao-w-28 nao-h-28 radius-md pointer"
             *ngFor="let color of colors"
             [ngStyle]="{ backgroundColor: color }">
        </div>
    </div>

    <button class="group-form__save-btn nao-p-2 radius-md text-sm font-medium">Save</button>
</div>
