<div class="group-form flex flex-col radius-5 nao-py-10 nao-px-7">
    <label class="nao-ml-8 font-medium text-14 text-heading line-height-1">Group name</label>

    <input
            type="text"
            class="group-form__input text_input_hover
             nao-p-8 text-14 text-heading radius-5 nao-mb-12 nao-mt-16 line-height-20"
            placeholder="Overdu..."
    />

    <div class="flex nao-gap-8">
        <div
                class="color-box nao-w-28 nao-h-28 radius-5 pointer nao-p-1"
                *ngFor="let color of colors"
                [ngStyle]="{ '--color': hexToRgba(color, 0.75) }"
        >
            <div
                    class="nao-w-100 nao-h-100 radius-5"
                    [ngStyle]="{ backgroundColor: color }"
            ></div>
        </div>
    </div>
    <button class="group-form__save-btn nao-py-6 radius-7 text-13 font-medium nao-mt-16 nao-mb-2 letter-spacing-03">
        Save
    </button>
</div>