@import 'mixins';

// *****************************************************
// Primary reusable button
.button-primary{
  border: 1px solid red;
  @include flex-center;
  @include margin-bottom(lg);
  @include padding(top, sm);
  @include padding(bottom, sm);
}


// *****************************************************
// Buttons
.nao-btn {
  display: flex;
  align-items: center;
  border: none;
  font-size: 13px;
}
.nao-btn-primary {
  background: var(--primary-color);
  color: var(--white);

}
.nao-view-btns{
  background: var(--view-btn-bg);
  color: var(--text-muted);
  box-shadow: 0 4px 8px rgba(216, 220, 235, 0.5),
  0 2px 4px rgba(200, 207, 233, 0.3);
  font-size: 13px;
  border: none;
}
.nao-btn-outline {
  background: var(--white);
  color: var(--text-heading);
  box-shadow: 0 1px 3px 0 var(--gray-border)
}

.view-btn--active {
  background: var(--view-btn-bg-hover);
  color: var(--primary-color);
}