@import '_themes.scss';
@import 'mixins.scss';
@import 'buttons.scss';

@import 'utilities/colors';
@import 'utilities/flex';
@import 'utilities/positions';
@import 'utilities/radius';
@import 'utilities/sizes';
@import 'utilities/spacing';
@import 'utilities/text';

// *****************************************************
// Root variables
:root {
  --gray-border: #ccc;
  --gray-light: #f6f6f9;
  --gray-light-hover: #e2e2f2;
  --gray-dark: #888;
  --primary-bg-active: #ebe9ff;
  --primary-color: #3E40DB;
  --hover-primary-color: #2f32cc;
  --white: #fff;
  --black: #000;
  --gray-lightest: #f5f7fa;
  --text-muted: #687196;
  --text-heading: #030929;
  --light-purple-border-color: #AAAFFF;
  --status-badge-color: #4a4e69;
  --column-background-color: rgba(241, 243, 248, 0.5);
  --column-border-color: rgba(233, 238, 249, 1);
  --primary-color-light-10: rgba(62, 64, 219, 0.1);


  --view-btn-bg: rgba(241, 243, 248, 0.75);
  --view-btn-bg-hover: rgba(225, 227, 233, 0.75);
  --card-config-gray-color: #F1F3F8;
  --card-config-divider: #a9acaf;
  --card-config-border-color: rgba(104, 113, 150, 0.1);
  --card-config-box-shadow: 0 4.5px 5px -1px rgba(216, 220, 235, 1), 0 2.5px 3px -1.5px rgba(200, 207, 233, 1);
  --white-box-shadow:  0 1px 0.5px -1px rgba(216, 220, 235, 1), 0 1.5px 3px -1.5px rgba(200, 207, 233, 1);
}

body{
  font-family: 'Circular Std', sans-serif;
}

// *****************************************************
// Body Light Mode
body {
  @include theme($light-theme);
}

// *****************************************************
// Body Dark Mode
body.dark-mode {
  @include theme($dark-theme);
}

// *****************************************************
// Default Text
.default-text {
  font-size: 14px;
  color: var(--text-muted);
  font-weight: 400;
}

// *****************************************************
// Main
.main{
  padding: pixelToRem(50) pixelToRem(75);

  .header{
    margin-bottom: pixelToRem(84);
  }

  .task-insertion{
    margin-bottom: pixelToRem(70);
  }
}

// *****************************************************
// Container
.container {
  height: 500px;
  border: 2px dashed var(--gray-border);

  .box {
    width: 100px;
    height: 100px;
    background-color: var(--base-color);
    text-align: center;
    line-height: 100px;
    border: 2px solid var(--black);
    cursor: grab;
  }
}

// *****************************************************
// Board Header Divider
.board-header__divider {
  width: 1px;
  height: 17px;
  background-color: var(--text-heading);
  border-radius: 999px;
}

@media (max-width: 768px) {
  .board-header__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

// *****************************************************
// Status Badge
.status-badge {
  writing-mode: vertical-rl;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--column-border-color);
  background-color: rgba(241, 243, 248, 0.5);
  box-sizing: border-box;
  line-height: 1
}

// *****************************************************
// Column Container
.column-container {
  max-width: 100%;
  border: 1px solid var(--column-border-color);
  background-color: rgba(241, 243, 248, 0.5);
  opacity: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

// *****************************************************
// Column Header Title
.column-header__title {
  outline: none;
  min-width: 0;
  width: 151px;
  border: 1px solid rgba(170, 175, 255, 1);
  box-shadow: var(--white-box-shadow);
  opacity: 1;
  background-color: var(--white);
  font-size: 14px;
  color: var(--text-heading);
  line-height: 1;

  &:focus {
    border-color: rgba(126, 113, 247, 0.6);
  }
}

// *****************************************************
// Column Header Icon
.column-header__icon {
  background-color: var(--card-config-gray-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

// *****************************************************
// Column Add Task
.column-add-task {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--card-config-gray-color);
  color: #6c7185;
  cursor: pointer;
  line-height: 1;
}

// *****************************************************
// Add Group Button
.add-group-button {
  display: inline-flex;
  align-items: center;
  color: #6c7185;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: rgba(241, 243, 248, 1);
    box-shadow: var(--white-box-shadow);
  }
}

// *****************************************************
// Group Form Position
.group-form-position {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  z-index: 999;
}


// *****************************************************
// Task Column
.task-column {
  background-color: var(--column-background-color);
  border: 1px solid var(--column-border-color);
  width: 264px;
  max-width: 100%;

    .task-column__title {
      color: var(--text-heading);
      font-size: 14px;
    }
}

// *****************************************************
// Task Card
.task-card {
  background: var(--white);
  border: 1px solid var(--column-border-color);
  box-shadow: var(--card-config-box-shadow);
  width: 240px;
  max-width: 100%;
  margin: 12px 12px 2px 12px;

  .task-card__header {

    .task-card__config-wrapper {

      .app-configure-single-task__component {
        top: 30px;
        left: 0;
        z-index: 999;
        min-width: 180px;
      }
    }
  }

  .task-card__meta {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;

      &:hover {
        border-radius: 5px;
        background-color: var(--card-config-gray-color);
        cursor: pointer;
      }
    }
  }
}


// *****************************************************
// Group Form
.group-form {
  border: 1px solid var(--card-config-border-color);
  box-shadow: var(--card-config-box-shadow);
  background-color: var(--white);
  width: 300px;

  .group-form__input {
    line-height: 20px;
    border: 1px solid var(--light-purple-border-color);
    outline: none;
    box-shadow: var(--white-box-shadow);
  }

  .group-form__save-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;

    &:hover {
      background-color: var(--hover-primary-color);
    }
  }
}


// *****************************************************
// Dropdown Menu Container
.dropdown-menu-container {
  .dropdown-menu-custom {
    border: 1px solid var(--card-config-border-color);
    box-shadow: var(--card-config-box-shadow);
    background-color: var(--white);
    width: 200px;

    button[ngbDropdownItem] {
      color: var(--text-heading);
      background: none;
      border: none;

      &:hover {
        background-color: var(--card-config-gray-color);
      }

      &.danger {
        color: var(--red);
      }
    }

    hr {
      margin: 4px 0;
      border-top: 1px solid var(--card-config-divider);
    }
  }
}


// *****************************************************
// Dropdown Panel
.dropdown-panel {
  top: 100%;
  left: 0;
  border: 1px solid rgba(104, 113, 150, 0.1);
  box-shadow: 0 4.5px 5px -1px rgba(216, 220, 235, 1),
  0px 2.5px 3px -1.5px rgba(200, 207, 233, 1);
  background-color: #fff;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .dropdown-panel__item {
    &:hover {
      background-color: #f1f3f8;
    }
  }
}


// *****************************************************
// Task Card Meta Dropdown
.task-card__meta {
  list-style: none;
  width: 100%;
  position: relative;

  .dropdown-wrapper {
    user-select: none;

    &:hover {
      background-color: rgba(241, 243, 248, 0.5);
    }

    app-single-task-information {
      top: 100%;
      left: 0;
      background-color: #fff;
      box-shadow:
              0 4.5px 5px -1px rgba(216, 220, 235, 1),
              0px 2.5px 3px -1.5px rgba(200, 207, 233, 1);
    }
  }
}
// *****************************************************
// Task Card Meta Dropdown
.color-box {
  padding: 1px;
  border: 1px solid transparent;

  &:hover,
  &:active {
    border-color: var(--color);
  }
}
