<div class="flex align-start nao-gap-24">
    <div class="flex align-start">
        <div class="status-badge radius-lg nao-p-2 font-medium text-md nao-mr-5 nao-text-muted nao-gap-4">
            <img src="assets/arrow_left_right.svg" alt="Icon" class="nao-w-16 nao-h-10 nao-mb-4 nao-mt-2" />
            <span class="nao-mb-2">Unpaid</span>
            <span class="default-text">4</span>
        </div>

        <div class="column-container radius-lg nao-gap-8 nao-p-3">
            <div class="column-header flex space-between">
                <div>
                    <input class="column-header__title nao-py-1 nao-px-2 radius-md nao-mr-1" type="text" placeholder="Unpaid" />
                    <span class="default-text">4</span>
                </div>

                <div class="flex">
                    <button class="column-header__icon nao-mr-2 radius-md nao-p-2" style="margin-left: 22px; padding: 6px;
                    width: 28px; height: 28px">
                        <img src="assets/arrow_left_right.svg" alt="Back" class="nao-w-16 nao-h-10 object-contain" />
                    </button>

                    <button class="column-header__icon radius-md nao-p-2" style="padding: 6px; width: 28px; height: 28px">
                        <img src="assets/three_dots.svg" alt="Options" class="nao-w-20 nao-h-6 object-contain" />
                    </button>
                </div>
            </div>

            <div class="column-add-task font-medium radius-md nao-px-2 nao-py-1 nao-gap-8">
                <img src="assets/plus.svg" alt="Add" class="nao-w-16 nao-h-16" />
                <span class="default-text">Add task</span>
            </div>
        </div>
    </div>

    <div class="flex nao-gap-16">
        <div
                class="relative"
                *ngFor="let group of groups; let i = index"
                [attr.data-index]="i"
        >
            <button
                    class="add-group-button nao-gap-6 nao-py-1 nao-px-2 radius-md nao-h-24 default-text"
                    (click)="openForm(i)"
            >
                <img src="assets/plus.svg" alt="Add" />
                <span class="add-group-button__text">Add group</span>
            </button>

            <div class="group-form-position" *ngIf="activeForm === i">
                <app-add-group></app-add-group>
            </div>
        </div>
    </div>

</div>
