<div *ngIf="show" class="dropdown-panel z-top absolute radius-md nao-p-2 nao-w-100">
    <ul>
        <li *ngFor="let option of options" class="dropdown-panel__item flex
        align-center nao-gap-6 nao-px-2 font-medium pointer">
            <div class="nao-w-16 nao-h-16 font-medium
            radius-md flex align-center center-x font-heavy text-xs"
                 [style.background]="option.color">
                {{ option.initials }}
            </div>
            <span class="text-md font-regular nao-p-1 text-heading">
                {{ option.label }}
            </span>
        </li>
    </ul>
</div>